POSTGRES_DB=interseguro
POSTGRES_USER=interseguro
POSTGRES_PASSWORD=cambia-esta-clave
JWT_SECRET=cambia-este-secreto
ENABLE_DEV_AUTH=true
DB_SYNCHRONIZE=true
CORS_ORIGIN=http://localhost:4173
VITE_API_URL=http://localhost:3000
VITE_ROUTE_API_URL=http://localhost:8080
RETO1_PORT=3000
RETO2_PORT=8080
FRONTEND_PORT=4173